/* Background */
body {
  background: linear-gradient(0deg, rgba(0,95,218,1) 0%, rgba(187,177,255,1) 100%) no-repeat;
  background-size: 100% 1000px;
  margin: 0;
  padding: 0;
}
header {
    background: (rgba(187,177,255,1) 100%);
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif; /* Example font */
}
style {
p.outset {border-style: outset;}
}

  /* Paragraf */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #0000FF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; 
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}
